<div>
<h2> all accounts {{2+2}}</h2>
</div>>
  <!--  Start all accounts Another aaaaaaaaaa
    <div ng-app="mainApp">
        <script type="text/ng-template" id="acc.htm">

            Search : <input type="text" ng-model="accounts"><br/><br/>
            <table border="0">
                <tr ng-repeat="user in users | filter : search">
                    <td>{{ accounts.name }}</td>
                </tr>
            </table>
        </script>
        <script>
            var mainApp = angular.module("mainApp", ['ngRoute']);
            mainApp.service('UserService',
                    function()  {
                        var savedData = {}
                        function set(data) {
                            savedData = data;
                        }
                        function get() {
                            return savedData;
                        }
                        return {
                            set: set,
                            get: get
                        }
                    }
            );
            mainApp.config(['$routeProvider',
                function($routeProvider) {
                    $routeProvider.
                    when('/index', {
                        templateUrl: 'index.htm',
                        controller: 'UsersController'
                    }).
                    otherwise({
                        redirectTo: '/index1'
                    });
                }]);

            mainApp.controller('UsersController', function($scope, $http, $location, UserService) {
                $http.get("/index").success(function (response) {
                    $scope.accounts = response;
                });
            });
        </script>